@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: BigBlueTermMonoRegular;
        src: url(/fonts/BigBlueTermPlusNerdFontMono-Regular.ttf);
    }
    @font-face {
        font-family: ProFontIIxNerdFontRegular;
        src: url(/fonts/ProFontIIxNerdFontPropo-Regular.ttf);
    }
    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto border border-borderLight dark:border-borderDark
                text-purpleHighlight hover:bg-buttonBgHoverLight dark:hover:bg-buttonBgHoverDark rounded-md transition-all duration-300 ease-linear
                cursor-pointer;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max md:left-14 left-0 md:top-0 top-14 rounded-md shadow-md text-terminalTextLight bg-buttonBgHoverLight dark:text-terminalTextDark dark:bg-buttonBgHoverDark text-xs font-ProFontIIxNerdFontRegular
                transition-all duration-100 scale-0 md:origin-left origin-top;
    }

    .media-button {
        @apply relative flex items-center justify-center mt-2 mb-2 mx-auto px-4 py-2 space-x-4 shadow-lg bg-buttonBgLight dark:bg-buttonBgDark
                text-purpleHighlight hover:bg-buttonBgHoverLight dark:hover:bg-buttonBgHoverDark rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear
                cursor-pointer;
    }

    .md-view-box {
        @apply h-full border pb-10 border-borderLight dark:border-borderDark bg-markdownBgLight dark:bg-markdownBgDark text-markdownTextLight dark:text-markdownTextDark rounded-md md:overflow-scroll;
    }

    .md-box {
        @apply border border-borderLight dark:border-borderDark bg-markdownBgLight dark:bg-markdownBgDark text-markdownTextLight dark:text-markdownTextDark rounded-md overflow-y-hidden;
    }

    .md-box .md-view-box {
        @apply border-none rounded-none;
    }

    .md-header-box {
        @apply flex items-center justify-between bg-markdownTopBarLight dark:bg-markdownTopBarDark border-b border-b-borderLight dark:border-b-borderDark p-2;
    }

    .md-button {
        @apply font-ProFontIIxNerdFontRegular text-sm px-4 py-1 rounded-l border border-borderLight dark:border-borderDark  text-terminalTextLight hover:bg-buttonBgHoverLight dark:text-terminalTextDark dark:hover:bg-buttonBgHoverDark transition-all duration-300 ease-linear cursor-pointer;
    }
}

